apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.Name}}
spec:
  selector:
    matchLabels:
      app: {{.Name}}
  template:
    metadata:
      labels:
        app: {{.Name}}
    spec:
      containers:
        - name: api
          image: {{.Spec.Image}}
          env:
            - name: TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{.Name}}-credentials
                  key: token
        {{- if .Spec.Proxy}}
        - name: proxy
          image: {{.Spec.Proxy.Image}}
        {{- end}}
---
apiVersion: v1
kind: Service
metadata:
  name: {{.Name}}
  annotations:
    {{- if .Spec.Proxy}}
    example.io/mode: proxy
    {{- else}}
    example.io/mode: direct
    {{- end}}
spec:
  selector:
    app: {{.Name}}
  ports:
    {{- if .Spec.Proxy}}
    - name: https
      port: {{.Spec.Proxy.Port}}
      targetPort: {{.Spec.Proxy.Port}}
      appProtocol: https
    {{- else}}
    - name: http
      port: {{.Spec.Rest.Port}}
      targetPort: {{.Spec.Rest.Port}}
      appProtocol: http
    {{- end}}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: model-registry-{{.Name}}
spec:
  rules:
    - matches:
        - path:
            value: /model-registry/{{.Name}}/
      backendRefs:
        - name: {{.Name}}
